# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
.vs/FCE/v16/.suo
.vs/FCE/v16/Browse.VC.db
.vs/FCE/v16/ipch/740782d27cd2936f.ipch
.vs/FCE/v16/ipch/AutoPCH/2ca3d2a70d926580/VK_INITIALIZERS.ipch
.vs/FCE/v16/ipch/AutoPCH/5b77a9f7e89349d9/IMGUI_STDLIB.ipch
.vs/FCE/v16/ipch/AutoPCH/8687feb23037406a/VULKANFRONTEND.ipch
.vs/FCE/v16/ipch/AutoPCH/e707b5065c1372c3/VK_ENGINE.ipch
.vs/FCE/v16/ipch/e8d3fe0fc20e4ba1.ipch
.vs/FCE/v16/Solution.VC.db
External/

.vs/FCE/v16/Browse.VC.db-shm
.vs/FCE/v16/Browse.VC.db-wal
.vs/FCE/v16/Browse.VC.opendb
.vs/FCE/v16/Solution.VC.db-shm
.vs/FCE/v16/Solution.VC.db-wal
FCE/x64/Debug/FCE.Build.CppClean.log
FCE/x64/Debug/FCE.lib.recipe
FCE/x64/Debug/FCE.log
FCE/x64/Debug/FCE.vcxproj.FileListAbsolute.txt
FVR/x64/Debug/FVR.Build.CppClean.log
FVR/x64/Debug/FVR.lib.recipe
FVR/x64/Debug/FVR.log
FVR/x64/Debug/FVR.vcxproj.FileListAbsolute.txt
MoveOn/imgui.ini
MoveOn/x64/Debug/MoveOn.Build.CppClean.log
MoveOn/x64/Debug/MoveOn.exe.recipe
MoveOn/x64/Debug/MoveOn.log
MoveOn/x64/Debug/MoveOn.vcxproj.FileListAbsolute.txt
